# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environment
venv/
.env/
.env

# Reports and logs
reports/
logs/

# IDE files
.vscode/
