requests==2.32.3
GitPython==3.1.43
beautifulsoup4==4.12.2
duckduckgo_search==8.1.1
GitPython==3.1.43
huggingface-hub==0.33.4
langchain-openai==0.0.5
langchain-core==0.1.23
langchain-text-splitters==0.2.2
langsmith==0.0.87
langchain==0.1.0
lxml_html_clean==0.4.2
lxml==6.0.0
Markdown==3.7
markdown-it-py==3.0.0
newspaper3k==0.2.8
nltk==3.9.1
openai==1.97.1
pandas==2.2.2
playwright==1.40.0
prompt_toolkit==3.0.48
pydantic==2.5.3
pydantic_core==2.14.6
pyparsing==3.2.3
PyPDF2==3.0.1
regex==2024.7.24
safetensors==0.4.3
scikit-learn==1.6.1
selenium==4.34.2
streamlit==1.37.0
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
transformers==4.53.3
